.heading {
	@apply flex items-center gap-3;
}
.title,
.button {
	@apply whitespace-nowrap;
}
.mobileTitle {
	@apply hidden;
}
.title {
	@apply justify-center items-center gap-1.5;

	> img {
		width: 15px;
		height: 15px;
	}

	&.lg {
		@apply flex text-4lg;
	}

	&.md {
		@apply text-3lg;
	}

	&.upp {
		@apply uppercase;
	}
}
.button {
	@apply font-bold text-lg rounded-full btn-green;
	padding: 7px 18px;
}
.line {
	@apply inline-block w-full bg-gray-300;
	height: 1px;
}
.label {
	@apply bg-gray-base rounded-full text-white text-small font-medium;
	padding: 5px 10px;
}

@media (max-width: 1400px) {
	.title.lg {
		font-size: 23px;
	}
	.title.md {
		font-size: 19px;
	}
	.button {
		@apply text-medium-xl;
	}
}

@media (max-width: 1200px) {
	.title.lg {
		font-size: 22px;
	}
	.title.md {
		font-size: 18px;
	}
	.button {
		font-size: 13px;
	}
}

@media (max-width: 1000px) {
	.label {
		font-size: 9px;
	}
}

@media (max-width: 800px) {
	.title {
		@apply text-3lg;
	}
	.title.md {
		font-size: 17px;
	}
	.button {
		@apply text-medium-lg;
	}
}

@media (max-width: 550px) {
	.heading {
		@apply flex-wrap gap-y-2 gap-x-3 justify-between;
	}
	.line {
		@apply w-full;
	}
	.title.lg {
		@apply w-full ellipse-text;
		max-width: calc(100% - 140px);
	}
	.button {
		font-size: 11px;
	}
}

@media (max-width: 440px) {
	.desktopTitle {
		@apply hidden;
	}
	.mobileTitle {
		@apply flex;
	}
	.title {
		@apply text-small py-2 px-3 rounded-full bg-green-base text-center text-white max-w-full font-bold uppercase;

		&.lg,
		&.md {
			@apply text-small;
		}
	}
	.button {
		@apply hidden;
	}
}
