.wrapper {
	@apply w-full rounded-2xl bg-white black-shadow flex flex-col;
	gap: 21px;
	padding: 19px 36px 29px 17px;
}
.top {
	@apply flex items-center gap-4;
}
.select,
.filter {
	@apply whitespace-nowrap;
}
.select {
	@apply font-medium text-medium-lg flex items-center gap-4;
}
.filter {
	@apply flex gap-4;

	> div > button {
		@apply text-small;
	}
}
.label {
	@apply bg-green-base rounded-full text-small font-medium capitalize text-white;
	padding: 9px 24px;
}
.search {
	@apply border border-green-base rounded-full flex items-center w-full justify-between;
	padding-right: 3px;
}
.field {
	@apply px-4 py-1.5 rounded-full w-full text-small;
}
.submit {
	@apply min-w-fit py-0.5 btn-green rounded-full flex items-center gap-1.5 text-small font-medium;
	padding-left: 22px;
	padding-right: 22px;
}
.announcements {
	@apply flex flex-col scrollbar-y pr-16;
	max-height: 660px;
	gap: 30px;
}
.add {
	@apply w-fit mx-auto mt-10 flex items-center gap-1.5 font-medium text-medium-lg px-9 py-2 rounded-full bg-gray-100;
}
.announcement {
	@apply flex items-center gap-4;
}

@media (max-width: 1600px) {
	.select {
		@apply text-medium;
	}
}

@media (max-width: 1400px) {
	.add {
		@apply text-medium;
	}
	.announcements {
		max-height: 600px;
	}
	.label {
		@apply py-2;
	}
}

@media (max-width: 1300px) {
	.announcements {
		@apply pr-8;
		max-height: 540px;
	}
	.add {
		@apply text-small mt-6;
	}
}

@media (max-width: 1200px) {
	.filter > div > button,
	.label {
		font-size: 9px;
	}
	.select {
		@apply text-small gap-2.5;
	}
	.wrapper {
		@apply p-5;
	}
	.announcement {
		@apply gap-3;
	}
	.announcements {
		@apply pr-4;
	}
}

@media (max-width: 900px) {
	.announcements {
		@apply gap-5;
		max-height: 462px;
	}
	.add {
		@apply mt-5;
		font-size: 9px;
	}
}

@media (max-width: 800px) {
	.filter {
		@apply hidden;
	}
	.announcements {
		@apply gap-5;
		max-height: 400px;
	}
}

@media (max-width: 700px) {
	.announcements {
		@apply pr-0;
	}
	.select,
	.field,
	.submit {
		font-size: 8px;
	}
	.submit {
		@apply px-3.5 py-1;

		> img {
			@apply w-3 h-3;
		}
	}
	.field {
		@apply px-2;
	}
	.add {
		@apply mt-4 px-6;
		font-size: 8px;
	}
	.announcements {
		max-height: 380px;
	}
	.announcement {
		@apply relative;
	}
	.pick {
		@apply absolute z-1 top-0 left-0 px-1.5 pb-1.5 pt-2 flex items-center justify-center rounded-br-sm bg-white black-shadow border border-gray-100;
		border-top-left-radius: 14px;
	}
	.search {
		padding-right: 1px;
	}
}

@media (max-width: 520px) {
	.wrapper {
		@apply rounded-2lg;
	}
	.announcements {
		max-height: 365px;
	}
}

@media (max-width: 400px) {
	.submit {
		@apply px-2;

		> span {
			@apply hidden;
		}
	}
	.wrapper {
		@apply gap-3.5 p-3;
	}
}
