.top {
	@apply flex flex-wrap items-center justify-between gap-y-1 mb-5;
}
.heading {
	@apply text-4lg leading-none w-full font-semibold;
}
.rating {
	@apply flex items-end gap-1.5 font-medium;
}
.rate {
	@apply text-4lg;
}
.count {
	@apply text-lg text-gray-400;
}
.more {
	@apply py-3 px-14 rounded-full bg-green-base/30 text-green-base text-medium-lg font-semibold;
}
.more.product {
	@apply mt-6;
}
.toggle {
	@apply flex items-center gap-1.5 font-medium text-medium-xl;
}

@media (max-width: 1600px) {
	.heading {
		font-size: 23px;
	}
	.toggle {
		font-size: 13px;

		> img {
			width: 27px;
			height: 27px;
		}
	}
}

@media (max-width: 1400px) {
	.top {
		@apply mb-2 gap-0;
	}
	.more.brand {
		@apply py-3 px-10;
	}
	.rate {
		@apply text-3lg;
	}
	.count {
		@apply text-medium-xl;
	}
	.heading {
		font-size: 20px;
	}
}

@media (max-width: 1200px) {
	.heading {
		font-size: 18px;
	}
	.rating {
		@apply items-center;
	}
	.rate {
		font-size: 18px;
	}
	.count {
		font-size: 13px;
	}
	.more.product {
		@apply mt-4;
	}
}

@media (max-width: 1000px) {
	.toggle {
		@apply text-medium-lg;

		> img {
			width: 25px;
			height: 25px;
		}
	}
	.more.brand {
		@apply px-8;
		font-size: 11px;
	}
	.heading {
		@apply text-2lg;
	}
	.rate {
		font-size: 17px;
	}
	.count {
		@apply text-medium-lg;
	}
	.rating {
		@apply gap-2;
	}
}

@media (max-width: 900px) {
	.top {
		@apply mb-1;
	}
}

@media (max-width: 600px) {
	.toggle {
		@apply items-end;
		font-size: 11px;

		> img {
			width: 20px;
			height: 20px;
		}
	}
	.count {
		@apply text-small;
	}
	.heading {
		font-size: 15px;
	}
	.top {
		@apply items-end gap-2;
	}
	.rate {
		@apply text-2lg;
	}
	.rating {
		@apply gap-1.5 items-end;
	}
	.more {
		@apply block w-fit mt-7 mx-auto;
	}
	.more.brand {
		@apply py-3 px-14;
	}
}

@media (max-width: 450px) {
	.toggle {
		@apply text-small;

		> img {
			@apply w-4 h-4;
		}
	}
}

@media (max-width: 420px) {
	.more.product {
		@apply mt-6;
	}
}

@media (max-width: 400px) {
	.rate {
		@apply text-lg;
	}
}

@media (max-width: 350px) {
	.toggle {
		@apply gap-1;
		font-size: 9px;

		> img {
			@apply w-3.5 h-3.5;
		}
	}
}
