/* React Select */
.react-select {
	&__control {
		@apply px-4;
		padding-top: 9px;
		padding-bottom: 9px;
		background-color: #fff !important;
		border: 1px solid #19bb4f !important;
		border-radius: 5px !important;
		box-shadow: none !important;
	}

	&__value-container {
		padding: 0 !important;
		cursor: text !important;
	}

	&__input-container {
		padding: 0 !important;
		margin: 0 !important;
	}

	&__control {
		min-height: auto !important;
	}

	&__indicator-separator {
		display: none !important;
	}

	&__indicators {
		cursor: pointer !important;
	}

	&__indicator {
		@apply transition-colors;
		padding: 0 !important;
		color: #66676e !important;

		&:hover {
			color: #999aa5 !important;
		}

		> svg {
			@apply transition-transform;
		}
	}

	&__multi-value {
		background-color: #282828 !important;
		border-radius: 0.5rem !important;
	}

	&__multi-value__label {
		padding: 4px 12px !important;
		font-size: 80% !important;
		color: rgba(255, 255, 255, 0.96) !important;
	}

	&__multi-value__remove {
		@apply transition-colors;
		background: none !important;
		color: rgba(white, 0.8) !important;

		&:hover {
			color: #ff0c00 !important;
		}
	}

	&__menu {
		@apply animate-scaleIn;
		margin: 0 !important;
		background-color: #fff !important;
		box-shadow: none !important;
		border: 1px solid #ebebeb !important;
		z-index: 30 !important;
		border-top-left-radius: 0 !important;
		border-top-right-radius: 0 !important;

		&-list {
			padding: 0 !important;
		}
	}

	&__option {
		@apply transition-colors;
		cursor: pointer !important;

		&--is-focused,
		&--is-selected {
			background-color: rgb(41 41 43 / 0.05) !important;
			color: #282828 !important;

			&:last-child {
				border-bottom-left-radius: 4px !important;
				border-bottom-right-radius: 4px !important;
			}
		}
	}

	&-container {
		> div {
			outline: none !important;
			box-shadow: none !important;
		}

		.form-control__control {
			@apply outline-border-none transition-all;
			border-color: rgb(41 41 43 / 0.05) !important;
			box-shadow: none !important;
		}

		&:hover,
		&--menu-is-open {
			border-color: rgb(41 41 43 / 0.05) !important;
		}

		.form-control__indicators {
			@apply cursor-pointer;
		}
	}

	&__control--menu-is-open {
		border-bottom-left-radius: 0px !important;
		border-bottom-right-radius: 0px !important;

		.custom-select-top__indicator {
			> svg {
				transform: rotate(180deg);
			}
		}
	}
}
